:root {
  --blue: #39ACDC;
  --red: #EC3646;
  --green: #57B93E;
  --gray-80: #CCC;
  --gray-60: #EEE;
  --gray-40: #AAA;
  --gray-20: #333;
  

  --border-color: var(--gray-80);
  --body-bgcolor: var(--gray-60);
  --text-color: var(--gray-20);
  --plcholder-color: var(--gray-40);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--body-bgcolor);
  color: var(--text-color);
}

.centered-cont {
  width: 1024px;
  min-width: 320px;
  margin: auto;
}

.centered-cont h1 {
  margin-left: 30px;
}